<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.baizhi.dao.VideoDao">

    <!--手动映射-->
    <resultMap id="all" type="Video">
        <!--主属性-->
        <id column="id" property="id"/>
        <!--普通属性-->
        <result column="title" property="title"/>
        <result column="brief" property="brief"/>
        <result column="cover_path" property="coverPath"/>
        <result column="video_path" property="videoPath"/>
        <result column="create_date" property="createDate"/>
        <!--关系属性-->
        <association property="category" javaType="Category">
            <!--主属性-->
            <id column="gid" property="id"/>
            <!--普通属性-->
            <result column="cate_name" property="cateName"/>
            <result column="levels" property="levels"/>
            <result column="parent_id" property="parentId"/>
        </association>
        <!--关系属性-->
        <association property="user" javaType="User">
            <!--主属性-->
            <id column="uid" property="id"/>
            <!--普通属性-->
            <result column="name" property="name"></result>
        </association>
    </resultMap>
    <!--分页查-->
    <select id="selectRange" resultMap="all">
        select vi.id,title,vi.brief,cover_path,video_path,create_date,category_id,user_id,group_id,cg.id gid,cg.cate_name,us.id uid,us.name
        from(select id,title,brief,cover_path,video_path,create_date,category_id,user_id,group_id from yx_video limit #{start},#{end}) vi
        left join yx_category cg
        on vi.category_id = cg.id
        left join yx_user us
        on vi.user_id = us.id
    </select>
    <!--总条数-->
    <select id="selectPageAll" resultType="Integer">
        select count(*) from yx_video
    </select>
    <!--添加-->
    <insert id="insertVideo" parameterType="Video">
        insert into yx_video values(#{id},#{title},#{brief},#{coverPath},#{videoPath},#{createDate},#{category.id},#{user.id},#{groupId})
    </insert>
    <!--删除-->
    <delete id="deleteById" parameterType="String">
        delete from yx_video where id=#{id}
    </delete>
    <!--根据id查一个-->
    <select id="selectById" parameterType="String" resultMap="all">
        select id,title,brief,cover_path,video_path,create_date,category_id,user_id,group_id from yx_video
        where id=#{id}
    </select>
</mapper>
